:root {
  --blue: blue;
  --orange: #FFA100;
  --gray-dark: #5A5E65;
  --gray-light: #F6F6F6;
  --gray-semi-light: #B8BABD;
}

@font-face {
  font-family: 'Gotham Light';
  src: url('./assets/fonts/gotham_light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('./assets/fonts/gotham_medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('./assets/fonts/gotham_bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
  font-size: 10px;
}

body {
  margin: 0;
  background: var(--gray-dark);
}

body,
input,
button {
  font-family: "Gotham Light", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}